{% extends 'layout.html' %}
{% load static %}
<body>
{% block body %}
    <div class="container" style="background-color: rgb(233,236,239);">
        <div class="container " style="border-bottom-radius: 10px;">
            <div class="jumbotron">
                <div id="demo" class="carousel slide pt-0" data-ride="carousel">

                    <!-- 指示符 -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- 轮播图片 -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/1.jpg' %}">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/2.jpg' %}">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/3.jpg' %}">
                        </div>
                    </div>

                    <!-- 左右切换按钮 -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>

            </div>
            <hr>
            <div class="row ">
                <div class="col-md-4 column">
                    <h2>
                        技术专栏
                    </h2>
                    <p>
                        分享你的技术，展示你的能力。与天下志同道合之人，共同在分享中成长。在这里你可以分享、记录自己的学习历程，让每个人的成长都是可以见证的！
                    </p>
                    <p>
                        <a class="btn" href="#">点击进入 »</a>
                    </p>
                </div>
                <div class="col-md-4 column">
                    <h2>
                        生活印记
                    </h2>
                    <p>
                        让这朴素无华、枯燥又不是乐趣的混沌日子得到发泄，记录你认为有意义的人生镜头，或值得一辈子纪念的事情、或让你捧腹大笑的段子、又或让你撕心裂肺的奔溃......
                    </p>
                    <p>
                        <a class="btn" href="#">点击进入 »</a>
                    </p>
                </div>
                <div class="col-md-4 column">
                    <h2>
                        更多
                    </h2>
                    <p>
                        有什么其他想做的呢？一起商量商量。
                    </p>
                    <p>
                        <a class="btn">敬请期待 »</a>
                    </p>
                </div>
            </div>

        </div>
        <hr>

        <div class="row">
            <div class="col-12 text-center">
                <h3>混沌动态</h3>
            </div>
        </div>
        <div class="nav nav-pills text-light" role='tablist'>
            <div class="nav nav-pills" id="v-pills-tab" role="tablist">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">学学东西</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">混混日子</a>
            </div>
        </div>

        <hr>
        <div class="container p-2" style="justify-content: space-between">
            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="row collapse show" style="" id="tech">
                        {% for article in articles %}

                            <div class="col-sm-12 col-md-12 col-lg-12 ">
                                <div class="card  rounded text-center mb-3 bg-light">
                                    <div class="card-body">
                                        <a target="_blank" href="article?aid={{ article.id }}"><h5
                                                class="card-title">{{ article.title }}</h5></a>
                                        <div class="text-truncate">
                                            {{ article.abs }}
                                        </div>
                                    </div>
                                    <div class="card-footer  text-muted" style="height: 30px;">
                                        <div class="d-flex justify-content-center ">
                                            <a href="userzone?nickname={{ article.username }}"><p
                                                    class="text-muted card-subtitle mb-2">{{ article.username }}</p></a>&nbsp;&nbsp;
                                            <p class="card-subtitle mb-2">{{ article.date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>

                </div>
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">

                    <div class="row" style="" id="life">
                        {% for life in lifes %}
                            <div class="col-sm-12 col-md-12 col-lg-12 ">
                                <div class="card  rounded text-center mb-3 bg-light">
                                    <div class="card-body">
                                        <a target="_blank" href="article?aid={{ life.id }}"><h5
                                                class="card-title">{{ life.title }}</h5></a>
                                        <div class="text-truncate">
                                            {{ life.abs }}
                                        </div>
                                    </div>
                                    <div class="card-footer  text-muted" style="height: 30px;">
                                        <div class="d-flex justify-content-center ">
                                            <a href="userzone?nickname={{ life.username }}"><p
                                                    class="text-muted card-subtitle mb-2">{{ life.username }}</p></a>&nbsp;&nbsp;
                                            <p class="card-subtitle mb-2">{{ life.date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="row ">
            <div class="col-12 text-center">没有更多了</div>
        </div>

    </div>

    <div class="container-fluid p-0 mt-0 text-light" style="background-color: rgb(90 90 97/30%);">
        <div class="row text-center p-5">
            <div class="col-12">
                <p>混沌博客</p>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $(function () {
        })

    </script>
{% endblock %}