{% extends 'layout.html' %}

{% block head %}
    <title>注册</title>
{% endblock %}
{% block body %}
    <div class="container p-3 mt-5" style="background-color: rgb(233,236,239);width: 80%;border-radius: 30px;">
        <form method="POST" action="/register">
            <div class="form-group">
                <label>昵称:<p class="text-danger" id="nickname-msg">{{ nickname_msg }}</p></label>
                <input type="text" value="{{ nickname }}" required="required" class="form-control" id="nickname"
                       name="nickname">
                <p class=" text-danger" id="nickname-msg"></p>
            </div>
            <div class="form-group">
                <label for="email">邮箱:<p class="text-danger" id="email-msg">{{ email_msg }}</p></label>
                <input type="email" value="{{ email }}" class="form-control" required="required" id="email"
                       name="email">
                <button type="button" class="btn btn-info" id="codebtn">获取验证码</button>
                <p class=" text-danger" id="email-msg"></p>
            </div>
            {% csrf_token %}
            <div class="form-group">
                <label for="pwd">验证码:<p class="text-danger" id="email-msg">{{ vcode_msg }}</label>
                <input type="text" required="required" class="form-control" id="code" name="vcode">
            </div>
            <div class="form-group">
                <label for="pwd">密码:</label>
                <input type="password" value="{{ password }}" required="required" class="form-control" id="pwd"
                       name="password">
                <p class=" text-danger" id="pwd-msg"></p>
            </div>
            <div class="form-group">
                <label for="pwd">重复密码:</label>
                <input type="password" value="{{ password2 }}" required="required" class="form-control" id="pwd2"
                       name="password2">
                <p class=" text-danger" id="pwd2-msg"></p>
            </div>

            <button type="submit" onsubmit="checkPassword()" class="btn btn-primary">注册</button>
        </form>
    </div>
    <br/>
    <div class="container">

    </div>
{% endblock %}
{% block js %}
<script>
    $(function () {
        $('button#codebtn').click(function () {
            var email = $('#email').val();
            if (/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)/.test(email)) {

                $('#email-msg').text("");
                $(this).attr("disabled", "true");
                $.get("/getvcode?email=" + email +'&t=zc', function (data, status) {
                    console.log(data)
                    if (data.status == "success") {
                        var time = 60;
                        // console.log( $(this).text()+"text");
                        $(this).attr("disabled", "true");
                        var inter = setInterval(function () {
                            $('button#codebtn').text(time-- + "s")
                        }, 1000)
                        setTimeout(function () {
                            clearInterval(inter);
                            $('button#codebtn').removeAttr("disabled");
                            $('button#codebtn').text("获取验证码")
                        }, 60000)
                    } else {
                        $('#email-msg').text('账户已存在')
                        $('button#codebtn').removeAttr("disabled");
                    }
                });
            } else {
                $('#email-msg').text("格式不正确");
            }

        })
        $('input#email').keyup(function () {
            $('#email-msg').text("");

        })

        function checkPassword() {
            if ($('#pwd').val().length >= 8 && $('#pwd-msg').text() == "" && $('#pwd2-msg').text() == "")
                return true;
            else
                return false;
        }

        $('#pwd').keyup(function () {
            if ($(this).val().length < 8 || $(this).val().length > 16) {
                $('#pwd-msg').text("密码长度在8-16位")
            } else {
                $('#pwd-msg').text("")
            }
        })
        $('#pwd2').keyup(function () {
            if ($(this).val() != $('#pwd').val()) {
                $('#pwd2-msg').text("密码不一致");
            } else {
                $('#pwd2-msg').text("")
            }
        })

    })
</script>
{% endblock %}